APP_NAME=ETT Manager
# Supabase URL (Transation Pooler port 6543 recommended for production)
DATABASE_URL=postgresql+asyncpg://postgres:[PASSWORD]@db.[PROJECT-ID].supabase.co:6543/postgres?ssl=require
ECHO_SQL=false
# Commma separated origins
ALLOWED_ORIGINS=http://localhost:3000,https://seu-app.vercel.app
